html {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
	line-height: 1.5;
}
input[type=text] {
    font-size:14px;
    padding:5px;
    margin-right:10px;
    flex-grow: 1;
}
input[type=submit] {
    padding:5px;
    flex-grow: 0;
}
#main-container {
    max-width:672px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}
#logo {
    color: black;
    font-family: 'Dosis', sans-serif;
    margin-bottom:50px;
    font-size:16px;
}
#logo img {
    display: block;
    margin: 0 auto;
}
#inputs {
    display: flex;
    margin-top:10px;
    margin-bottom:10px;
}
#error {
    text-align: left;
    color: red;
}
#galleries {
    margin-top:20px;
}
#faq {
    margin-top:20px;
}
#examples {
    margin-top:20px;
}
.gallery {
    margin-top:5px;
}
.thick {
    font-weight: bold;
}

#language {
    margin-bottom:20px;
    text-align: right;
}
#mywebary {
    margin-top:20px;
}
